@import './__partition/variables.scss';

*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}

@import './__partition/navbar.scss';
@import './__partition/secNavbar.scss';
@import './__partition/home.scss';
@import './__partition/services.scss';
@import './__partition/aboutUs.scss';
@import './__partition/portfolio.scss';
@import './__partition/goToUp.scss';
@import './__partition/footer.scss';
@import './__partition/cookies.scss';
@import './__partition/privacyPolicy.scss';