footer{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    background-color: $black;
    padding: 25px 0;
    .top{
        padding: 0 20vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 25px;
        p{
            color: $white;
        }
        .links{
            display: flex;
            flex-direction: column;
            a{
                margin: 5px 0;
                color: $white;
                text-decoration: none;
            }
        }
        .contacts{
            p{
                margin: 5px 0;
                color: $white;
            }
        }
    }
    .bottom{
        padding: 25px 0 0 0;
        p{
            text-align: center;
            color: $white;
        }
    }
}