.goToUp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    border-radius: 17px;
    cursor: pointer;
    transition: 0.5s;
    .arrow{
        padding: 10px 12px;
        border-radius: 15px;
        background-color: $black;
        margin: 2px;
        border: 2px solid $white;
        .icon{
            font-size: 28px;
            color: $white;
        }
    }
}
.goToUp:hover{
    transform: scale(1.1);
    .arrow{
        .icon{
            color: $gold;
        }
    }
}

@media screen and (max-width: 1440px) {
    .goToUp{
        .arrow{
            .icon{
                font-size: 24px;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .goToUp{
        .arrow{
            .icon{
                font-size: 20px;
            }
        }
    }
}