.privacyPolicy {
    main {
        margin-left: 80px;
        padding-bottom: 50px;
        h1 {
            font-size: 36px;
            margin: 50px 0 50px 100px;
        }
        h2{
            font-size: 26px;
            margin: 20px 0 20px 100px;
        }

        .privacyPolicyP {
            font-size: 20px;
            margin: 10px 100px;
            line-height: 1.5;
        }
        ul{
            li{
                font-size: 20px;
                line-height: 1.5;
                margin: 10px 120px;
            }
        }
    }

}