.services {
    background-color: $white;

    main {
        margin-left: 80px;

        .sec-1 {
            position: relative;
            display: flex;
            gap: 2vw;
            width: 100%;

            #h1 {
                position: sticky;
                top: calc(50vh - 76px);
                font-size: 64px;
                font-weight: 400;
                width: 30vw;
                margin: 120px 0px 800px 80px;
                color: $black;
                height: 200px;
            }

            .servicesType {
                display: flex;
                gap: 1vw;
                flex: 1.2;
                position: sticky;

                .serviceCard {
                    position: sticky;
                    top: 200px;

                    .card {
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        // width: 100%;
                        position: sticky;
                        top: 200px;
                        margin-bottom: 600px;
                        height: 600px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        border-radius: 25px;

                        .title {
                            font-size: 44px;
                            margin: 0px 20px;
                        }

                        p {
                            width: 50%;
                            font-size: 23px;
                            margin: 10px 20px;
                            line-height: 1.1;
                        }
                    }

                    .card1 {
                        align-items: flex-end;
                        animation: 35s card linear infinite;

                        p {
                            color: $white;
                            width: 60%;
                        }
                    }

                    .card2 {
                        align-items: flex-end;

                        p {
                            color: $white;
                            width: 45%;
                        }
                    }

                    .card3 {
                        align-items: flex-end;

                        p {
                            color: $white;
                        }
                    }

                    .card4 {
                        align-items: flex-start;

                        p {
                            color: $white;
                            width: 45%;
                        }
                    }

                    .card5 {
                        align-items: flex-start;

                        .title {
                            margin-top: 15px;
                        }

                        p {
                            color: $white;
                            width: 45%;
                        }
                    }

                    .card6 {
                        align-items: flex-start;

                        .title {
                            width: 60%;
                        }

                        p {
                            color: $black;
                            width: 55%;
                            margin-bottom: 60px;
                        }
                    }

                    .card7 {
                        align-items: flex-start;

                        .title {
                            width: 70%;
                        }

                        p {
                            color: $white;
                            width: 45%;
                            margin-bottom: 50px;
                        }
                    }

                    .card8 {
                        align-items: flex-end;

                        p {
                            color: $white;
                            width: 60%;
                        }
                    }
                }

                .dots {
                    top: calc(50vh - 125px);
                    display: flex;
                    flex-direction: column;
                    position: sticky;
                    height: 350px;
                    margin-bottom: 700px;
                    margin-right: 20px;

                    .dot {
                        width: 20px;
                        height: 20px;
                        background-color: $black;
                        margin: 10px 0;
                        border-radius: 50%;
                        border: 5px solid $white;
                        transition: .5s;
                    }

                    .dot1 {
                        border: 5px solid $gold;
                    }

                    .dot2 {
                        background: #616161;
                    }

                    .dot3 {
                        background: #757575;
                    }

                    .dot4 {
                        background: #979797;
                    }

                    .dot5 {
                        background: #b8b8b8;
                    }

                    .dot6 {
                        background: #b8b8b8;
                    }

                    .dot7 {
                        background: #b8b8b8;
                    }

                }
            }
        }
    }

    .sec-2 {
        margin-top: -400px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .site {
            border: 2px solid $black;
            max-width: 260px;
            padding: 20px;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 50px;
            z-index: 2;
            transition: .5s;
            box-shadow: 0px 0px 10px 5px rgba(107, 107, 107, 0.75);
            .top {

                .title {
                    font-size: 26px;
                }

                .points {
                    p {
                        display: flex;
                        align-items: center;
                        font-size: 18px;
                        margin: 5px 0;

                        .icon {
                            font-size: 18px;
                            margin-right: 5px;
                        }
                    }
                }
            }

            .price {
                background: $black;
                color: $white;
                padding: 10px;
                text-align: center;
                font-size: 18px;
                border-radius: 25px;
                margin-top: 25px;
            }
        }
        .site:hover{
            transition: .5s;
            box-shadow: 0px 0px 15px 8px rgba(107, 107, 107, 0.75);
        }
    }
}